@charset "UTF-8";
html {
  font-size: 62.5%; }

/**************************************/
body {
  background-color: #f9f8f6; }

* {
  box-sizing: border-box; }

header #header_in {
  padding-top: 20px;
  padding-bottom: 4px; }
@media (max-width: 549px) {
  header #logo {
    width: 100%;
    text-align: center; } }
header #pc_menu {
  margin: 0;
  padding: 0;
  text-align: right; }
  @media (max-width: 549px) {
    header #pc_menu {
      display: none; } }
  header #pc_menu li {
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
    display: inline; }
  header #pc_menu a {
    text-decoration: none;
    font-weight: bold;
    color: #887f69;
    font-size: 12px;
    font-size: 1.2rem;
    padding-right: 15px; }
header #sp_menu {
  text-align: center;
  margin-bottom: 0px; }
  header #sp_menu li {
    display: inline-block;
    margin: 0 4px; }
  @media (min-width: 550px) {
    header #sp_menu {
      display: none; } }
header .sp_navi_li {
  top: 50px;
  border: 1px solid #eee;
  background: white;
  display: none; }
  header .sp_navi_li li {
    list-style: none;
    margin: 0;
    padding: 0; }
    header .sp_navi_li li a {
      display: block;
      padding: 8px 8px;
      border-bottom: 1px solid #f9f8f6;
      font-size: 14px;
      text-decoration: none;
      color: #887f69; }

.container {
  padding-top: 15px; }

#main_contents {
  background-color: #f9f8f6; }
  #main_contents .owl-dots {
    text-align: left; }
  #main_contents .owl-theme .owl-dots .owl-dot span {
    width: 25px;
    height: 2px;
    border-radius: 0; }
  #main_contents .owl-theme .owl-dots .owl-dot.active span,
  #main_contents .owl-theme .owl-dots .owl-dot:hover span {
    background: #9d1a2d; }
  #main_contents .pc_title {
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 100%;
    height: auto; }
    @media (max-width: 549px) {
      #main_contents .pc_title {
        display: none; } }
  #main_contents .sp_title {
    display: block;
    margin: 20px auto 20px auto; }
    @media (min-width: 550px) {
      #main_contents .sp_title {
        display: none; } }
  #main_contents .item_list {
    float: left;
    width: calc(100% / 3 );
    padding: 5px;
    border: 1px solid #f9f8f6;
    background-color: #fff; }
    @media (max-width: 549px) {
      #main_contents .item_list {
        width: calc(100% / 2); } }
    #main_contents .item_list:hover {
      opacity: 0.7; }
    #main_contents .item_list a {
      text-decoration: none;
      color: #887f69; }
    #main_contents .item_list .item_imgage {
      text-align: center;
      margin-top: 6px; }
    #main_contents .item_list .item_name {
      font-size: 1.2rem;
      padding: 0 12px; }
    #main_contents .item_list .item_plice {
      font-size: 1.2rem;
      padding: 0 12px; }
  #main_contents #shopping_guide {
    display: flex;
    flex-direction: row; }
    @media (max-width: 549px) {
      #main_contents #shopping_guide {
        flex-direction: column;
        margin-bottom: 10px; } }
    #main_contents #shopping_guide .guide {
      background: #FFF;
      width: calc(100%/2);
      border: 2px solid #f9f8f6;
      padding: 10px;
      flex: 1; }
      @media (max-width: 549px) {
        #main_contents #shopping_guide .guide {
          width: 100%; } }
    #main_contents #shopping_guide p {
      font-size: 1.8rem;
      font-weight: bold;
      color: #887f69;
      margin-bottom: 7px; }
    #main_contents #shopping_guide dl {
      font-size: 1.2rem; }
    #main_contents #shopping_guide dt {
      color: #887f69;
      font-weight: bold; }

#SEARCH_ENGINE {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #ffffff; }

.item_search {
  font-size: 1.3rem;
  font-weight: bold;
  color: #887f69; }
  @media (max-width: 549px) {
    .item_search {
      display: none; } }

form {
  margin-bottom: 0px; }

input[type="search"] {
  margin: auto;
  width: 100%;
  background-color: #eeeeee;
  border: 0;
  height: 32px;
  background-image: url("../images/top/search_icon.png");
  background-size: 19px 19px;
  background-repeat: no-repeat;
  background-position: 90% 50%; }

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 1.3rem;
  font-style: italic; }

.sub_linkbox {
  background-color: #ffffff;
  margin-bottom: 10px; }
  .sub_linkbox li {
    list-style: none;
    border-bottom: 1px solid #f9f8f6; }
  .sub_linkbox a {
    font-size: 1.3rem;
    padding: 10px 15px;
    display: block;
    color: #887f69;
    text-decoration: none; }

.linkbox {
  background-color: #887f69;
  padding: 12px 15px;
  background-image: url("../images/top/next_icon.png");
  background-repeat: no-repeat;
  background-position: 90% 50%;
  cursor: pointer; }
  @media (max-width: 549px) {
    .linkbox {
      background-position: 95% 50%; } }

.linkbox.active {
  background-image: url("../images/top/down_icon.png"); }

.linkbox:hover {
  background-color: #b7b1a1; }

.CATEGORIES_linkbox {
  background-color: #887f69;
  padding: 12px 15px;
  background-image: url("../images/top/next_icon.png");
  background-repeat: no-repeat;
  background-position: 90% 50%;
  cursor: pointer; }
  @media (max-width: 549px) {
    .CATEGORIES_linkbox {
      background-position: 95% 50%; } }

.CATEGORIES_linkbox.active {
  background-image: url("../images/top/down_icon.png"); }

.CATEGORIES_linkbox:hover {
  background-color: #b7b1a1; }

.ABOUT_linkbox {
  background-color: #887f69;
  padding: 12px 15px; }

.SHOP_linkbox　 {
  background-color: #887f69;
  padding: 12px 15px; }

.ul_style {
  margin-bottom: 0px;
  display: none; }
  .ul_style li {
    margin-bottom: 0px; }
  .ul_style a {
    background-image: url("../images/top/next_icon_gray.png");
    background-size: 10px 12px;
    background-repeat: no-repeat;
    background-position: 90% 50%; }
    @media (max-width: 549px) {
      .ul_style a {
        background-position: 95% 50%; } }

.CATEGORIES_ul_style {
  margin-bottom: 0px;
  display: none; }
  .CATEGORIES_ul_style li {
    margin-bottom: 0px; }
  .CATEGORIES_ul_style a {
    background-image: url("../images/top/next_icon_gray.png");
    background-size: 10px 12px;
    background-repeat: no-repeat;
    background-position: 90% 50%; }
    @media (max-width: 549px) {
      .CATEGORIES_ul_style a {
        background-position: 95% 50%; } }

.sub_pict {
  padding: 10px; }
  .sub_pict img {
    width: 100%; }
  @media (max-width: 549px) {
    .sub_pict {
      width: 40%;
      padding: 15px 3%;
      float: left; } }

.sub_text {
  padding: 0 10px 0px;
  font-size: 1.2rem; }
  .sub_text p {
    margin-bottom: 0px; }
  @media (max-width: 549px) {
    .sub_text {
      width: 50%;
      float: right;
      padding: 10px 2%; } }
  .sub_text .more {
    text-align: center;
    margin: 0px auto; }

.clearfix::after {
  content: '';
  display: block;
  clear: both; }

#PAGETOP {
  text-align: right;
  margin-top: 20px; }
  #PAGETOP hr {
    margin: 0 0 10px; }
  @media (max-width: 549px) {
    #PAGETOP {
      text-align: center; } }

#foot_container ul {
  margin: 0 auto 20px;
  text-align: center;
  padding-top: 10px; }
  @media (max-width: 549px) {
    #foot_container ul {
      margin: 0 auto 20px;
      text-align: center; } }
#foot_container li {
  display: inline-block;
  margin: 0 5px;
  padding: 0 10px;
  font-size: 1.2rem;
  list-style-type: disc; }
#foot_container a {
  text-decoration: none;
  color: #524b3b; }
#foot_container p {
  text-align: center;
  color: #b8b4ac; }

#bar {
  background: #e8e4da;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 5px 0px; }
  #bar .bar_home img {
    margin-right: 5px; }
  #bar ul {
    list-style: none;
    margin-bottom: 0px; }
  #bar li {
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: middle; }
  #bar a {
    text-decoration: none;
    float: left;
    font-size: 1.4rem;
    padding-right: 10px;
    padding-left: 10px;
    color: #887f69; }

#products_box {
  background: #fff;
  padding: 40px 60px 70px;
  margin-top: 10px; }
  #products_box .products_name_id {
    list-style: none;
    border-bottom: 1px solid #e8e4da;
    padding-bottom: 50px;
    margin-bottom: 20px; }
    @media (max-width: 549px) {
      #products_box .products_name_id {
        padding-bottom: 15px; } }
  #products_box .products_name {
    float: left;
    font-size: 1.8rem;
    font-weight: bold; }
    @media (max-width: 549px) {
      #products_box .products_name {
        float: none;
        margin-bottom: 0px; } }
  #products_box .products_id {
    float: right;
    color: #887f69;
    font-size: 1.1rem; }
    @media (max-width: 549px) {
      #products_box .products_id {
        float: none;
        margin-bottom: 0px; } }
  #products_box #products_picts {
    border-bottom: 1px solid #e8e4da;
    padding-bottom: 20px; }
  #products_box #main_view {
    float: left;
    width: 70.9%; }
    @media (max-width: 549px) {
      #products_box #main_view {
        float: none;
        width: 100%; } }
  #products_box #pict_list {
    float: right;
    width: 29.1%;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 0; }
    @media (max-width: 549px) {
      #products_box #pict_list {
        float: none;
        width: 100%; } }
    #products_box #pict_list li {
      float: left;
      display: inline-block;
      width: calc(100% / 2 - 10px);
      margin-bottom: 0px;
      margin-left: 10px;
      margin-bottom: 10px; }
    @media (max-width: 549px) {
      #products_box #pict_list li:first-child {
        margin-left: 0; }
      #products_box #pict_list li:nth-child(6n) {
        margin-left: 0; }
      #products_box #pict_list li {
        width: calc(100% / 5 - 10px);
        margin-left: 12.5px;
        margin-bottom: 12.5px; } }
  #products_box #form_shoppingbox img {
    margin-top: 15px; }
  #products_box #form_shoppingbox table {
    margin-top: 15px;
    margin-bottom: 0px;
    width: 100%;
    border: 1px solid #e2ddd4; }
    #products_box #form_shoppingbox table th {
      text-align: center;
      border: 1px solid #e2ddd4;
      background: #f9f8f6;
      font-size: 1.8rem;
      color: #887f69;
      font-weight: normal;
      padding: 5px 0px; }
    #products_box #form_shoppingbox table td {
      border: 1px solid #e2ddd4;
      padding: 5px 0px; }
      #products_box #form_shoppingbox table td input[type="radio"] {
        -webkit-appearance: none;
        background: #fffff;
        border: solid #e2ddd4 1px;
        width: 15px;
        height: 15px;
        display: block;
        margin: auto; }
      #products_box #form_shoppingbox table td input[type="radio"]:checked {
        background: #887f69; }
  #products_box #form_shoppingbox #price_quantity_wrap {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    border-bottom: 1px solid #e2ddd4; }
    @media (max-width: 549px) {
      #products_box #form_shoppingbox #price_quantity_wrap {
        flex-direction: column;
        border-bottom: 0px; } }
    #products_box #form_shoppingbox #price_quantity_wrap .price_quantity {
      flex: 1; }
      #products_box #form_shoppingbox #price_quantity_wrap .price_quantity #price_date {
        padding: 10px 0px;
        border-top: 1px solid #e2ddd4;
        border-bottom: 1px solid #e2ddd4;
        margin-top: auto;
        margin-bottom: auto; }
        #products_box #form_shoppingbox #price_quantity_wrap .price_quantity #price_date img {
          margin-right: 50px; }
        #products_box #form_shoppingbox #price_quantity_wrap .price_quantity #price_date span {
          font-style: italic; }
          #products_box #form_shoppingbox #price_quantity_wrap .price_quantity #price_date span .en {
            font-size: 1.3rem; }
          #products_box #form_shoppingbox #price_quantity_wrap .price_quantity #price_date span .price {
            font-size: 2.0rem; }
          #products_box #form_shoppingbox #price_quantity_wrap .price_quantity #price_date span .red_span {
            color: #ff0000; }
          #products_box #form_shoppingbox #price_quantity_wrap .price_quantity #price_date span .tax_span {
            font-size: 1.3rem; }
      #products_box #form_shoppingbox #price_quantity_wrap .price_quantity #quantity_date {
        padding: 10px 0px; }
        #products_box #form_shoppingbox #price_quantity_wrap .price_quantity #quantity_date img {
          margin-right: 30px; }
    #products_box #form_shoppingbox #price_quantity_wrap #quantity_date img {
      display: inline-block; }
    #products_box #form_shoppingbox #price_quantity_wrap #quantity_date .Quantity_form {
      display: inline-block; }
      #products_box #form_shoppingbox #price_quantity_wrap #quantity_date .Quantity_form input {
        margin-bottom: 0px;
        padding: 6px 0px; }
    #products_box #form_shoppingbox #price_quantity_wrap .add_to_cart {
      margin-left: 20px; }
      @media (max-width: 549px) {
        #products_box #form_shoppingbox #price_quantity_wrap .add_to_cart {
          margin-top: 0px;
          padding-top: 20px;
          border-top: 1px solid #e2ddd4;
          margin-left: 0px;
          text-align: center; } }
      #products_box #form_shoppingbox #price_quantity_wrap .add_to_cart input {
        margin-bottom: 0px; }
  #products_box #products_article a {
    font-size: 1.8rem;
    color: #887f69;
    font-weight: bold;
    display: block; }
  #products_box #products_article .products_detail {
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #887f69; }
  #products_box #products_article p {
    margin-top: 20px; }
  #products_box #products_article table {
    margin-top: 20px;
    width: 100%;
    border: 1px solid #e2ddd4; }
    #products_box #products_article table th {
      text-align: center;
      border: 1px solid #e2ddd4;
      background: #f9f8f6;
      font-size: 1.8rem;
      color: #887f69;
      font-weight: normal;
      padding: 5px 0px; }
    #products_box #products_article table td {
      color: #887f69; }

@media (max-width: 549px) {
  #products #bar {
    width: 85%;
    margin: auto; }

  #products .container {
    width: 100%; }

  #products #popular_item {
    width: 85%;
    margin: auto; }

  #products #shopping_guide {
    width: 85%;
    margin: auto;
    margin-bottom: 10px; }

  #products #sub_contents {
    width: 85%;
    margin: auto;
    float: none; }

  #products #PAGETOP {
    width: 85%;
    margin: auto; }

  #products .search_text {
    margin-top: 15px; } }
@media (max-width: 549px) {
  #pc_cover {
    display: none; } }

@media (min-width: 550px) {
  #sp_cover {
    display: none; } }

.back_next_button a {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  background-color: #887f69;
  padding: 5px 20px;
  margin-top: 10px; }
.back_next_button .a_back {
  float: left; }
.back_next_button .a_next {
  float: right; }

/*# sourceMappingURL=style.css.map */
